import { FC } from "react"
import { PPAccessibility, PPCustomAttributes } from "../../common/types"

export interface {{pascalCase name}}Props
  extends PPCustomAttributes, PPAccessibility {}

const {{PascalCase name}}: FC<{{PascalCase name}}Props> = ({}) => {
  return (
    <h1>Hello World {{name}}</h1>
  )
}

export default {{PascalCase name}}
